<main class="classification-container">
  <% if (title) { %>
      <h1 class="classification-title"><%= title %></h1>
  <% } else { %>
      <script>window.location.href = "/"</script>
  <% } %>

  <div class="vehicles-grid">
      <%- grid %>
  </div>
</main>
